@font-face {
  font-family: "urbanist-bold";
  src: url(../fonts/Urbanist-Bold.ttf);
}
@font-face {
  font-family: "urbanist-regular";
  src: url(../fonts/Urbanist-Regular.ttf);
}
@font-face {
  font-family: "urbanist-semibold";
  src: url(../fonts/Urbanist-SemiBold.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "urbanist-regular";
  scroll-behavior: smooth;
}

body {
  width: 1920px;
  margin: 0 auto;
}
.flex {
  display: flex;
  align-items: center;
}
a {
  text-decoration: none;
}
:root {
  --70: #cbea7b;
  --85: #e5f5bd;
  --95: #f6fbe9;
  --99: #fafdf2;
  --15: #1a3129;
  --20: #234338;
  --30: #346454;
  --grey30: #4c4c4d;
  --60: #98989a;
}
h1 {
  font-family: "urbanist-bold";
  font-size: 5.8rem;
  line-height: 130%;
  color: var(--15);
}
h2 {
  font-family: "urbanist-bold";
  font-size: 5rem;
  line-height: 150%;
}
h3 {
  font-family: "urbanist-semibold";
  font-size: 3.4rem;
  line-height: 150%;
  color: var(--15);
}
p {
  font-size: 1.8rem;
  line-height: 150%;
}
main p {
  color: var(--grey30);
}
.bls {
  font-family: "urbanist-semibold";
  font-size: 1.8rem;
  line-height: 150%;
}
/* 'bls' steht für 'Button Label Subtitle' */
header {
  background-color: var(--15);
  height: 16.6rem;
  color: #fff;
  letter-spacing: 1px;
}
.top-banner {
  height: 7.5rem;
  justify-content: center;
}
.top-banner-box {
  background-color: var(--20);
  height: 4.7rem;
  width: 159.6rem;
  overflow: hidden;
  justify-content: space-between;
  border-radius: 6px;
  border: 1px solid #2c5446;
  padding: 0 4rem;
}
.top-banner-textbox {
  justify-self: center;
  gap: 1rem;
}
.icon-banner {
  padding-left: 1rem;
}
.img-abstract2 {
  transform: scaleX(-1);
}
.img-abstract,
.img-abstract2 {
  width: 19.4rem;
}
nav {
  justify-content: space-between;
}
.nav-container a {
  color: #fff;
}
.nav-container {
  gap: 4rem;
  padding: 2rem 0;
}
.nav-wrapper {
  gap: 2.6rem;
}
.btn-contact {
  color: #262626;
  background-color: var(--70);
  border-radius: 8px;
  width: 13.7rem;
  height: 5.5rem;
  justify-content: center;
}

main {
  background-color: #fafdf2;
}
.hero-stn {
  height: 83.2rem;
  gap: 5rem;
}
.img-hero-stn {
  width: 94.5rem;
  align-self: flex-start;
}

.hero-stn-textbox {
  flex-direction: column;
  justify-content: space-between;
  width: 75.9rem;
  height: 59.8rem;
  align-items: flex-start;
}
.hero-stn-textbox-sub {
  flex-direction: column;
  align-items: flex-start;
  width: 75.9rem;
  height: 46.2rem;
  gap: 1rem;
}
.hero-stn-textbox-sub h3 {
  border-bottom: 3px solid var(--70);
  padding-bottom: 1rem;
}
.btn-get,
.btn-book {
  color: var(--15);
  background-color: var(--70);
  border-radius: 8px;
  width: 18.7rem;
  height: 5.9rem;
  justify-content: center;
}
.btn-book {
  background-color: var(--95);
  border: 1px solid var(--70);
  width: 15.4rem;
  height: 5.9rem;
}
.btn-wrapper {
  margin-top: 5rem;
  gap: 2rem;
}
.hero-stn-textbox-sub2 {
  gap: 1rem;
}
.txt-green {
  color: var(--30);
}
.features-stn,
.blogs-stn,
.kcal-stn,
.pricing-stn,
footer,
header {
  padding: 0 16.2rem;
}
.features-stn {
  padding-top: 15rem;
}
.blogs-stn {
  padding-top: 17.4rem;
}
.kcal-stn {
  padding-top: 12.3rem;
}
.pricing-stn {
  padding-top: 5.1rem;
}
.stn-textbox {
  padding-bottom: 8rem;
  text-align: center;
  width: 99.6rem;
  margin: 0 auto;
}
.stn-textbox p {
  margin-top: 1rem;
}
.features-stn-cardbox,
.blogs-stn-cardbox {
  display: grid;
  grid-template-columns: auto auto;
  gap: 3rem;
}

.features-stn-card {
  background-color: var(--95);
  border: 1px solid var(--85);
  border-radius: 12px;
  width: 78.3rem;
  height: 25.3rem;
  padding: 4rem 5rem;
}
.features-stn-icon-box {
  background-color: var(--70);
  border-radius: 8px;
  width: 6.8rem;
  height: 6.8rem;
  justify-content: center;
}
.features-stn-card-text-wrapper {
  gap: 1.4rem;
  margin-bottom: 2.4rem;
}
.blogs-stn-card {
  background-color: var(--95);
  border: 1px solid var(--85);
  border-radius: 12px;
  width: 78.3rem;
  height: 84.4rem;
  padding: 4rem;
}
.blogs-stn-card-textwrapper {
  margin-top: 4rem;
}
.middletext {
  margin: 3rem 0;
}
.blogs-stn-card-subbox {
  background-color: var(--99);
  border: 1px solid var(--85);
  border-radius: 12px;
  width: 70.3rem;
  height: 10rem;
  padding: 2rem;
  justify-content: space-between;
}
.blogs-stn-card-subbox-sub1 {
  gap: 1.6rem;
}
.blogs-stn-card-subbox-sub2 {
  gap: 1rem;
}
.blogs-stn-card-iconbox {
  width: 6rem;
  height: 6rem;
  background-color: var(--95);
  border: 1px solid #eef8d3;
  border-radius: 8px;
  justify-content: center;
}

form {
  background-color: var(--95);
  border: 1px solid var(--85);
  border-radius: 12px;
  padding: 4.1rem 6.8rem 5.6rem 6.8rem;
}
.input-box {
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
}
.input-box-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  gap: 6rem;
  row-gap: 4.5rem;
}
.input-box input,
.input-box select {
  width: 70rem;
  height: 5rem;
  background-color: #fff;
  border: 1px solid var(--85);
  border-radius: 10px;
  color: var(--grey30);
  padding-left: 1.6rem;
}
.input-box select option p {
  color: var(--60);
}
.btn-cal {
  color: var(--15);
  background-color: var(--70);
  border-radius: 8px;
  border: none;
  width: 41.2rem;
  height: 6.3rem;
  cursor: pointer;
}
.input-box-wrapper2 {
  flex-direction: column;
  margin-top: 4.8rem;
}
.radio-wrapper {
  margin-top: 1rem;
  margin-bottom: 3.8rem;
}
.radio-wrapper label {
  padding-left: 0.7rem;
}
.radio-wrapper label:nth-of-type(1) {
  padding-right: 6rem;
}
input[type="radio"] {
  accent-color: #cbea7b;
}
.kcal-stn-result {
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid var(--70);
  width: 86.4rem;
  height: 11.5rem;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 53rem 1fr 1fr;
  grid-template-rows: 3.5rem 4rem 4rem;
  grid-template-areas:
    "a b c"
    "d e f"
    "g h i";
  align-items: center;
}
.kcal-stn-result-text1 {
  grid-area: a;

  border-bottom: 1px solid #d7ef9a;
}
.kcal-stn-result-text2 {
  grid-area: b;
  border-bottom: 1px solid #d7ef9a;
}
.kcal-stn-result-text3 {
  grid-area: c;
  border-bottom: 1px solid #d7ef9a;
}
.kcal-stn-result-text4 {
  grid-area: d;
  padding-left: 3.7rem;
}
.kcal-stn-result-text5 {
  grid-area: e;
}
.kcal-stn-result-text6 {
  grid-area: f;
}
.kcal-stn-result-text7 {
  grid-area: g;
  padding-left: 3.7rem;
}
.kcal-stn-result-text8 {
  grid-area: h;
}
.kcal-stn-result-text9 {
  grid-area: i;
}
.pricing-stn-year-tabbox {
  flex-direction: column;
  gap: 1.4rem;
}
.pricing-stn-year-tabbox-tab {
  border: 1px solid var(--70);
  width: 23.3rem;
  height: 6.7rem;
  border-radius: 8px;
  justify-content: center;
}
.btn-monthly {
  width: 11.4rem;
  height: 4.7rem;
  border-radius: 6px;
  color: #fff;
  background-color: var(--30);
  border: none;
  cursor: pointer;
}

.btn-yearly {
  width: 9.9rem;
  height: 4.7rem;
  border-radius: 6px;
  color: var(--15);
  border: none;
  background-color: #fafdf2;
  cursor: pointer;
}
.pricing-stn-cardbox {
  margin: 5rem 0;
  gap: 3rem;
}
.pricing-stn-card {
  width: 51.2rem;
  height: 51.5rem;
  border: 1px solid var(--85);
  background-color: var(--95);
  padding: 5rem;
  flex-direction: column;
  align-items: self-start;
  gap: 4rem;
}
.btn-choose {
  color: var(--15);
  background-color: var(--70);
  border-radius: 8px;
  height: 6.3rem;
  width: 41.2rem;
  border: none;
  margin-top: 3.3rem;
  cursor: pointer;
}
.pricing-stn-card-textbox2-sub h3,
.pricing-stn-card-textbox h3 {
  color: var(--30);
}
footer {
  background-color: var(--15);
  color: #fff;
  letter-spacing: 1px;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.gototop {
  gap: 2rem;
}
.gototop-iconbox {
  width: 6.2rem;
  height: 6.2rem;
  background-color: var(--20);
  border-radius: 50%;
  justify-content: center;
}
.footer-nav-wrapper a,
.footer-btnbox p {
  color: #fff;
}
.footer-nav-wrapper {
  gap: 2.6rem;
}
.footer-container {
  padding: 1.6rem 3rem;
  background-color: var(--20);
  border: 1px solid #2c5446;
  border-radius: 8px;
  margin-top: 5rem;
  justify-content: space-between;
}
.footer-btn-wrapper {
  gap: 2rem;
}
.footer-btnbox {
  border: 1px solid #2c5446;
  padding: 1.4rem;
  gap: 0.6rem;
}
